interactions:
- request:
    body:
    - !!python/tuple
      - grant_type
      - password
    - !!python/tuple
      - password
      - <PASSWORD>
    - !!python/tuple
      - username
      - <USERNAME>
    headers:
      AUTHORIZATION:
      - Basic <BASIC_AUTH>
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<ACCESS_TOKEN>", "token_type": "bearer", "expires_in":
        3600, "scope": "*"}'
    headers:
      Content-Type: application/json; charset=UTF-8
      X-Moose: majestic
    status:
      code: 200
      message: OK
    url: https://www.reddit.com/api/v1/access_token
- request:
    body:
    - !!python/tuple
      - api_type
      - json
    - !!python/tuple
      - content
      - 'type: submission

        action: upvote'
    - !!python/tuple
      - page
      - config/automoderator
    headers:
      Authorization:
      - bearer 266290221070-3u11jH-CrYsG13bF60YZga0ymhA
    method: POST
    uri: https://oauth.reddit.com/r/asyncpraw/api/wiki/edit/?raw_json=1
  response:
    body:
      string: '{"reason": "SPECIAL_ERRORS", "message": "Unsupported Media Type", "special_errors":
        ["invalid value for `action`: `upvote` in rule:\n\ntype: submission\naction:
        upvote"]}'
    headers:
      Content-Type: application/json; charset=UTF-8
      X-Moose: majestic
      x-ratelimit-remaining: '599.0'
      x-ratelimit-reset: '55'
      x-ratelimit-used: '1'
    status:
      code: 415
      message: Unsupported Media Type
    url: https://oauth.reddit.com/r/asyncpraw/api/wiki/edit/?raw_json=1
version: 1
